:root { 
    --main-header-bg: #333;
    --main-body-bg: #202020;
    --secondary-bg: #424242;
    --main-txt-color: #fff;
    --main-line-color: #494949;
}

/*Html value for sticky footer*/

html {
  height: 100%;
}



/*Box element property*/

*, 
*::before, 
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}


/*Defauly body properties*/

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: var(--main-body-bg);
  font-family: sans-serif, Arial, sans-serif;
}


/*Default image properties*/

img {
  display: block;
  height: auto;
}

/*Visually hidden class */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
}


/*Platform container */


.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.site-main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--main-header-bg);
}

.site-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.site-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
}

.site-header__btn {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent url("../images/menu.svg") no-repeat center;
    background-size: 24px;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.site-header__btn:hover {
    opacity: 0.8;
}

.site-header__btn:active {
    opacity: 0.6;
}

.logo {
    font-size: 18px;
    color: var(--main-txt-color);
    opacity: 0.9;
    text-decoration: none;
}

.app {
    padding-top: 30px;
    padding-bottom: 100px;
}

.app__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
}

.app__navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}

.app__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.app__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
}

.app__item:not(:last-child):after {
    color: var(--main-txt-color);
    opacity: 0.8;
    content: '/';
}

.app__link {
    font-size: 14px;
    line-height: normal;
    color: var(--main-txt-color);
    text-decoration: none;
}

.app__item:not(:last-child) .app__link {
    opacity: 0.8;
}

.app__save-link {
    min-width: 120px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: var(--main-txt-color);
    background-color: var(--main-header-bg);
    border-radius: 2px;
    text-decoration: none;
    opacity: 0.6;

}

.app__details-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.app__start-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.app__img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
}

.app__img-content {
    width: 190px;
    height: 200px;
    border-radius: 2px;
    background-color: var(--main-header-bg);
}

.app__svg-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
}

.app__start-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.app__title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.app__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: var(--main-txt-color);
    opacity: 0.9;
}

.app__title-line {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--main-line-color);
}

.app__start-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    width: 100%;
}

.app__start-form-input {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    color: var(--main-txt-color);
    border: 1.5px solid var(--main-line-color);
    border-radius: 5px;
    background-color: transparent;
    opacity: 0.8;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-input {
    background: url("../images/arrdown.svg") no-repeat center right 15px;
    background-size: 12px;
}

option {
    background-color: var(--main-header-bg);
}

.app__start-form-group-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    width: 100%;
}

.input-start-text {
    width: 100%;
    border: none;
    border-bottom: 1.8px dashed var(--main-line-color);
    outline: transparent;
}



.app__start-form-group:first-child {
    position: relative;
    width: 75%;
    padding-top: 10px;
}

.app__start-form-label {
    position: absolute;
    top: 0;
    font-size: 12px;
    color: var(--main-txt-color);
    opacity: 0.8;
}

.app__start-form-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1.5px solid var(--main-txt-color);
    border-radius: 5px;
}




.app__start-form-group:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
}

.app__start-form-checkbox-label {
    color: var(--main-txt-color);
    opacity: 0.8;
}

.app__middle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.app__g-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 35px;
}

.app__g-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: var(--main-txt-color);
    white-space: nowrap;
    opacity: 0.9;
}

.app__g-title-line {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--main-line-color);
}

.app__g-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    width: 100%;
}

.app__g-form-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    width: 100%;
}

.app__g-form-input {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    color: var(--main-txt-color);
    border: 1.5px solid var(--main-line-color);
    border-radius: 5px;
    background-color: transparent;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    opacity: 0.8;
}

.app__g-form-input[type=number]::-webkit-outer-spin-button,
.app__g-form-input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.app__g-form-label {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
    font-size: 16px;
    padding: 0 5px;
    background-color: var(--main-body-bg);
    color: rgba(255,255,255, 0.8);
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
}

.app__g-form-input:focus + .app__g-form-label {
    top: -6px;
    font-size: 12px;
}

.app__g-form-input:not(:-moz-placeholder-shown) + .app__g-form-label {
    top: -6px;
    font-size: 12px;
}

.app__g-form-input:not(:-ms-input-placeholder) + .app__g-form-label {
    top: -6px;
    font-size: 12px;
}

.app__g-form-input:not(:placeholder-shown) + .app__g-form-label {
    top: -6px;
    font-size: 12px;
}

.app__g-text {
    padding-left: 12px;
    font-size: 12px;
    letter-spacing: 0.7px;
    color: rgba(255,255,255, 0.6);
}

.select-g-input {
    color: var(--main-txt-color);
    background: var(--main-header-bg) url("../images/arrdownsm.svg") no-repeat center right 15px;
}

.select-g-input-label {
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgba(255,255,255, 0.6);
}

.app__end-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.app_e-l-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.app_e-r-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.sidebar {
    position: fixed;
    left: -100%;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255, 0.4);
    background-color: var(--main-header-bg);
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    overflow: auto;
}

.sidebar::-webkit-scrollbar {
    width: 12px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: rgba(0,0,0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255, 0.3);
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-header-bg);
}


.sidebar__title {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    color: var(--main-txt-color);
}

.sidebar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar__item {
    border: 1px solid var(--main-line-color);
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.sidebar__item:hover {
    background-color: var(--main-line-color);
}

.sidebar__btn {
    width: 100%;
    height: 100%;
    padding: 18px;
    letter-spacing: 0.8px;
    font-size: 18px;
    text-align: start;
    color: var(--main-txt-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.active-item {
    background-color: rgba(0,0,0, 0.3) !important;
    border-color: transparent !important;
}

.move {
    left: 0;
}